@page
@model IndexModel
@{
    ViewData["Title"] = "Create Chatroom";
}
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Hero card-->
        <div class="card mb-12">
            <!--begin::Hero body-->
            <div class="card-body flex-column p-5">
                <!--begin::Hero content-->
                <div class="d-flex align-items-center h-lg-300px p-5 p-lg-15">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column align-items-start justift-content-center flex-equal me-5">
                        <!--begin::Title-->
                        <h1 class="fw-bolder fs-4 fs-lg-1 text-gray-800 mb-5 mb-lg-10">Would you like to open a
                            chatroom?</h1>
                        <!--end::Title-->
                        <!--begin::Input group-->
                        <div class="position-relative w-100">
                            <!--begin::Svg Icon | path: icons/duotone/General/Search.svg-->
                            <span
                                class="svg-icon svg-icon-2 svg-icon-primary position-absolute top-50 translate-middle ms-8">
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L5,18 C3.34314575,18 2,16.6568542 2,15 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 Z M6.16794971,10.5547002 C7.67758127,12.8191475 9.64566871,14 12,14 C14.3543313,14 16.3224187,12.8191475 17.8320503,10.5547002 C18.1384028,10.0951715 18.0142289,9.47430216 17.5547002,9.16794971 C17.0951715,8.86159725 16.4743022,8.98577112 16.1679497,9.4452998 C15.0109146,11.1808525 13.6456687,12 12,12 C10.3543313,12 8.9890854,11.1808525 7.83205029,9.4452998 C7.52569784,8.98577112 6.90482849,8.86159725 6.4452998,9.16794971 C5.98577112,9.47430216 5.86159725,10.0951715 6.16794971,10.5547002 Z"
                                        id="Combined-Shape" fill="#000000"></path>
                                </svg>

                            </span>
                            <!--end::Svg Icon-->
                            <input type="text"
                                class="form-control fs-4 py-4 ps-14 text-gray-700 placeholder-gray-400 mw-500px"
                                name="topic" value="" placeholder="What is it about?" />
                        </div>
                        <!--end::Input group-->
                        <!--begin::Action-->
                        <div class="card-rounded d-flex flex-stack flex-wrap pt-5">
                            <a asp-area="" asp-page="/GetLink" class="btn btn-primary fw-bolder fs-8 fs-lg-base">Get
                                meeting link</a>
                        </div>
                        <!--end::Action-->

                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Wrapper-->
                    <div class="flex-equal d-flex justify-content-center align-items-end ms-5">
                        <!--begin::Illustration-->
                        <img src="~/Content/assets/media/illustrations/alert-2.png" alt=""
                            class="mw-100 mh-125px mh-lg-275px mb-lg-n12" />
                        <!--end::Illustration-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Hero content-->
                <!--begin::Hero nav-->

                <!--end::Hero nav-->
            </div>
            <!--end::Hero body-->
        </div>
        <!--end::Hero card-->
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->