@page
@{
    ViewData["Title"] = "New User: CMI Consulting";
}

<div class="text-center">
    <h1 class="display-4">Activate Usessrr</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
