@page
@{
    ViewData["Title"] = "Group Chat";
    ViewData["ChatTopic"] = "Recovery of Datacenter";
}<div class="post d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
							<div id="kt_content_container" class="container">
								<!--begin::Layout-->
								<div class="d-flex flex-column flex-lg-row">
									<!--begin::Sidebar-->
									<div class="flex-column flex-lg-row-auto w-100 w-lg-300px w-xl-400px mb-10 mb-lg-0">
										<!--begin::Contacts-->
										<div class="card card-flush">
											<!--begin::Card header-->
											<div class="card-header pt-7" id="kt_chat_contacts_header">
												<!--begin::Form-->
												<form class="w-100 position-relative" autocomplete="off">
													<!--begin::Icon-->
													<!--begin::Svg Icon | path: icons/duotone/General/Search.svg-->
													<span class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-50 ms-5 translate-middle-y">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
															<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																<rect x="0" y="0" width="24" height="24" />
																<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
															</g>
														</svg>
													</span>
													<!--end::Svg Icon-->
													<!--end::Icon-->
													<!--begin::Input-->
													<input type="text" class="form-control form-control-solid px-15" name="search" value="" placeholder="Search by email..." />
													<!--end::Input-->
												</form>
												<!--end::Form-->
											</div>
											<!--end::Card header-->
											<!--begin::Card body-->
											<div class="card-body pt-5" id="kt_chat_contacts_body">
												<!--begin::Users List-->
												<div class="scroll-y me-n5 pe-5 h-200px h-lg-auto" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header" data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body" data-kt-scroll-offset="0px">
													<!--begin::User-->
													<div class="d-flex flex-stack py-4">
														<!--begin::Details-->
														<div class="d-flex align-items-center">
															<!--begin::Avatar-->
															<div class="symbol symbol-45px symbol-circle">
																<span class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">F</span>
															</div>
															<!--end::Avatar-->
															<!--begin::Details-->
															<div class="ms-5">
																<a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Freddy</a>
																<div class="fw-bold text-muted">freddy@cmiconsulting.pe</div>
															</div>
															<!--end::Details-->
														</div>
														<!--end::Details-->
													</div>
													<!--end::User-->
													<!--begin::Separator-->
													<div class="separator separator-dashed d-none"></div>
													<!--end::Separator-->
													<!--begin::User-->
													<div class="d-flex flex-stack py-4">
														<!--begin::Details-->
														<div class="d-flex align-items-center">
															<!--begin::Avatar-->
															<div class="symbol symbol-45px symbol-circle">
																<span class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">J</span>
															</div>
															<!--end::Avatar-->
															<!--begin::Details-->
															<div class="ms-5">
																<a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">Juan</a>
																<div class="fw-bold text-muted">juan@cmiconsulting.pe</div>
															</div>
															<!--end::Details-->
														</div>
														<!--end::Details-->
													</div>
													<!--end::User-->
													<!--begin::Separator-->
													<div class="separator separator-dashed d-none"></div>
													<!--end::Separator-->
												</div>
												<!--end::Users List-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Contacts-->
									</div>
									<!--end::Sidebar-->
									<!--begin::Content-->
									<div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
										<!--begin::Messenger-->
										<div class="card" id="kt_chat_messenger">
											<!--begin::Card header-->
											<div class="card-header" id="kt_chat_messenger_header">
												<!--begin::Title-->
												<div class="card-title">
													<!--begin::Users-->
													<div class="symbol-group symbol-hover">
														<!--begin::Avatar-->
                                                        <div class="symbol symbol-35px symbol-circle">
                                                            <span class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">F</span>
                                                        </div>
                                                        <!--end::Avatar-->
														<!--begin::Avatar-->
                                                        <div class="symbol symbol-35px symbol-circle">
                                                            <span class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">J</span>
                                                        </div>
                                                        <!--end::Avatar-->
														<!--begin::Avatar-->
                                                        <div class="symbol symbol-35px symbol-circle">
                                                            <span class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">A</span>
                                                        </div>
                                                        <!--end::Avatar-->
													</div>
													<!--end::Users-->
												</div>
												<!--end::Title-->
											</div>
											<!--end::Card header-->
											<!--begin::Card body-->
											<div class="card-body" id="kt_chat_messenger_body">
												<!--begin::Messages-->
												<div class="scroll-y me-n5 pe-5 h-300px h-lg-auto" data-kt-element="messages" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer" data-kt-scroll-wrappers="#kt_content, #kt_chat_messenger_body" data-kt-scroll-offset="-2px">
													<!--begin::Message(in)-->
													<div class="d-flex justify-content-start mb-10">
														<!--begin::Wrapper-->
														<div class="d-flex flex-column align-items-start">
															<!--begin::User-->
															<div class="d-flex align-items-center mb-2">
																<!--begin::Avatar-->
																<div class="symbol symbol-35px symbol-circle">
                                                                    <span class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">J</span>
                                                                </div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-3">
																	<a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1">Juan</a>
																	<span class="text-muted fs-7 mb-1">2 mins</span>
																</div>
																<!--end::Details-->
															</div>
															<!--end::User-->
															<!--begin::Text-->
															<div class="p-5 rounded bg-light-info text-dark fw-bold mw-lg-400px text-start" data-kt-element="message-text">Hello, friends, how are you doing?</div>
															<!--end::Text-->
														</div>
														<!--end::Wrapper-->
													</div>
													<!--end::Message(in)-->
													<!--begin::Message(out)-->
													<div class="d-flex justify-content-end mb-10">
														<!--begin::Wrapper-->
														<div class="d-flex flex-column align-items-end">
															<!--begin::User-->
															<div class="d-flex align-items-center mb-2">
																<!--begin::Details-->
																<div class="me-3">
																	<span class="text-muted fs-7 mb-1">5 mins</span>
																	<a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1">You</a>
																</div>
																<!--end::Details-->
																<!--begin::Avatar-->
																<div class="symbol symbol-35px symbol-circle">
                                                                    <span class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">A</span>
                                                                </div>
																<!--end::Avatar-->
															</div>
															<!--end::User-->
															<!--begin::Text-->
															<div class="p-5 rounded bg-light-primary text-dark fw-bold mw-lg-400px text-end" data-kt-element="message-text">Hey, Juan, I'm fine, thanks, what about you?</div>
															<!--end::Text-->
														</div>
														<!--end::Wrapper-->
													</div>
													<!--end::Message(out)-->
													
													<!--begin::Message(template for out)-->
													<div class="d-flex justify-content-end mb-10 d-none" data-kt-element="template-out">
														<!--begin::Wrapper-->
														<div class="d-flex flex-column align-items-end">
															<!--begin::User-->
															<div class="d-flex align-items-center mb-2">
																<!--begin::Details-->
																<div class="me-3">
																	<span class="text-muted fs-7 mb-1">Just now</span>
																	<a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1">You</a>
																</div>
																<!--end::Details-->
																<!--begin::Avatar-->
																<div class="symbol symbol-35px symbol-circle">
                                                                    <span class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">A</span>
                                                                </div>
																<!--end::Avatar-->
															</div>
															<!--end::User-->
															<!--begin::Text-->
															<div class="p-5 rounded bg-light-primary text-dark fw-bold mw-lg-400px text-end" data-kt-element="message-text"></div>
															<!--end::Text-->
														</div>
														<!--end::Wrapper-->
													</div>
													<!--end::Message(template for out)-->
													<!--begin::Message(template for in)-->
													<div class="d-flex justify-content-start mb-10 d-none" data-kt-element="template-in">
														<!--begin::Wrapper-->
														<div class="d-flex flex-column align-items-start">
															<!--begin::User-->
															<div class="d-flex align-items-center mb-2">
																<!--begin::Avatar-->
																<div class="symbol symbol-35px symbol-circle">
                                                                    <span class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">J</span>
                                                                </div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-3">
																	<a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1">Juan</a>
																	<span class="text-muted fs-7 mb-1">Just now</span>
																</div>
																<!--end::Details-->
															</div>
															<!--end::User-->
															<!--begin::Text-->
															<div class="p-5 rounded bg-light-info text-dark fw-bold mw-lg-400px text-start" data-kt-element="message-text">Test reply</div>
															<!--end::Text-->
														</div>
														<!--end::Wrapper-->
													</div>
													<!--end::Message(template for in)-->
												</div>
												<!--end::Messages-->
											</div>
											<!--end::Card body-->
											<!--begin::Card footer-->
											<div class="card-footer pt-4" id="kt_chat_messenger_footer">
												<!--begin::Input-->
												<textarea class="form-control form-control-flush mb-3" rows="1" data-kt-element="input" placeholder="Type a message"></textarea>
												<!--end::Input-->
												<!--begin:Toolbar-->
												<div class="d-flex flex-stack">
													<!--begin::Send-->
													<button class="btn btn-primary" type="button" data-kt-element="send">Send</button>
													<!--end::Send-->
												</div>
												<!--end::Toolbar-->
											</div>
											<!--end::Card footer-->
										</div>
										<!--end::Messenger-->
									</div>
									<!--end::Content-->
								</div>
								<!--end::Layout-->
							</div>
							<!--end::Container-->
						</div>
						
						<script src="~/Content/assets/js/custom/chat.js"></script>